## General Configs
NETWORK_CONFIG=localhost
LOCALSTACK_URL=http://aws:4566
ALCHEMY_URL=<ALCHEMY MAINNET URL>
MNEMONIC="myth version trip movie key power unhappy benefit hip sad account copper"
HARDHAT_NETWORK=local
REGION=us-east-1
QUOTE_API=<QUOTE API URL>
QUOTE_API_USERNAME=<DEPLOYED USERNAME>
QUOTE_API_PASSWORD=<DEPLOYED PASSWORD>
API_USERNAME=admin
API_PASSWORD=password

## Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=brink
POSTGRES_PORT=5432

## PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@brink.trade
PGADMIN_DEFAULT_PASSWORD=123456
PGADMIN_PORT=5433

## Local Stack (AWS)
LOCALSTACK_SERVICES=sqs,sns,dynamodb
LOCALSTACK_DEBUG=1
LOCALSTACK_DATA_DIR=

## evm
EVM_ALCHEMY_URL=${ALCHEMY_URL}
EVM_URL=http://evm:8545

## API (Default env)
API_PORT=3000
API_SERVICE=API

## Publisher 
PUBLISHER_NETWORK=${NETWORK_CONFIG}
PUBLISHER_SSL=false
PUBLISHER_PGDATABASE=${POSTGRES_DB}
PUBLISHER_PGUSER=${POSTGRES_USER}
PUBLISHER_PGPASSWORD=${POSTGRES_PASSWORD}
PUBLISHER_PGHOST=postgres
PUBLISHER_PGPORT=${POSTGRES_PORT}
PUBLISHER_INSTANCE_ID=LOCAL_PUBLISHER
PUBLISHER_ACCESS_KEY_ID=doesntmatter
PUBLISHER_SECRET_ACCESS_KEY=doesntmatter
PUBLISHER_REGION=${REGION}
PUBLISHER_ENDPOINT=${LOCALSTACK_URL}
PUBLISHER_QUALIFIER_TOPIC_ARN=arn:aws:sns:${REGION}:000000000000:brink-local-qualifier-topic

## Transactor
TRANSACTOR_RPC_URL=${EVM_URL}
TRANSACTOR_HARDHAT_NETWORK=${HARDHAT_NETWORK}
TRANSACTOR_MNEMONIC=${MNEMONIC}
TRANSACTOR_NETWORK=${NETWORK_CONFIG}
TRANSACTOR_SSL=false
TRANSACTOR_PGDATABASE=${POSTGRES_DB}
TRANSACTOR_PGUSER=${POSTGRES_USER}
TRANSACTOR_PGPASSWORD=${POSTGRES_PASSWORD}
TRANSACTOR_PGHOST=postgres
TRANSACTOR_PGPORT=${POSTGRES_PORT}
TRANSACTOR_TRANSACTOR_INSTANCE_ID=local-transactor
TRANSACTOR_ACCESS_KEY_ID=doesntmatter
TRANSACTOR_SECRET_ACCESS_KEY=doesntmatter
TRANSACTOR_REGION=${REGION}
TRANSACTOR_TOPIC_ARN=arn:aws:sns:${REGION}:000000000000:brink-local-transactor-topic
TRANSACTOR_SNS_ENDPOINT=${LOCALSTACK_URL}
TRANSACTOR_SQS_ENDPOINT=${LOCALSTACK_URL}
TRANSACTOR_DYNAMODB_ENDPOINT=${LOCALSTACK_URL}
TRANSACTOR_TRANSACTOR_QUEUE_URL=${LOCALSTACK_URL}/000000000000/brink-local-transactor-queue
TRANSACTOR_API_USERNAME=${API_USERNAME}
TRANSACTOR_API_PASSWORD=${API_PASSWORD}
TRANSACTOR_BRINK_API_URL=http://api:3001
TRANSACTOR_ALCHEMY_URL=${ALCHEMY_URL}

## Qualifier
QUALIFIER_RPC_URL=${EVM_URL}
QUALIFIER_MNEMONIC=${MNEMONIC}
QUALIFIER_HARDHAT_NETWORK=${HARDHAT_NETWORK}
QUALIFIER_NETWORK=${NETWORK_CONFIG}
QUALIFIER_SSL=false
QUALIFIER_PGDATABASE=${POSTGRES_DB}
QUALIFIER_PGUSER=${POSTGRES_USER}
QUALIFIER_PGPASSWORD=${POSTGRES_PASSWORD}
QUALIFIER_PGHOST=postgres
QUALIFIER_PGPORT=${POSTGRES_PORT}
QUALIFIER_INSTANCE_ID=local-qualifier
QUALIFIER_ACCESS_KEY_ID=doesntmatter
QUALIFIER_SECRET_ACCESS_KEY=doesntmatter
QUALIFIER_REGION=${REGION}
QUALIFIER_TRANSACTOR_TOPIC_ARN=arn:aws:sns:${REGION}:000000000000:brink-local-transactor-topic
QUALIFIER_QUEUE_URL=${LOCALSTACK_URL}/000000000000/brink-local-qualifier-queue
QUALIFIER_SNS_ENDPOINT=${LOCALSTACK_URL}
QUALIFIER_SQS_ENDPOINT=${LOCALSTACK_URL}
QUALIFIER_DYNAMODB_ENDPOINT=${LOCALSTACK_URL}
QUALIFIER_SWAP_SOURCES=UniswapV3
QUALIFIER_ONE_INCH_URL=https://api.1inch.io/v4.0/1
QUALIFIER_DISABLE_SLACK_LOG=true
QUALIFIER_BRINK_API_URL=http://api:3001
QUALIFIER_API_USERNAME=${API_USERNAME}
QUALIFIER_API_PASSWORD=${API_PASSWORD}
QUALIFIER_PAPERTRAIL_ENDPOINT=<PAPERTRAIL_ENDPOINT>
QUALIFIER_ALCHEMY_URL=${ALCHEMY_URL}
QUALIFIER_V3_ROUTING_URL=<AWS URL>
QUALIFIER_QUOTE_API=${QUOTE_API}
QUALIFIER_QUOTE_API_USERNAME=${QUOTE_API_USERNAME}
QUALIFIER_QUOTE_API_PASSWORD=${QUOTE_API_PASSWORD}
QUALIFIER_GEM_API_URL=
QUALIFIER_GEM_API_KEY=

# Sync
SYNC_RPC_URL=${EVM_URL}
SYNC_HOST=localhost
SYNC_HTTP_PORT=3004
SYNC_API_VERSION=v0.1.0
SYNC_NETWORK=${NETWORK_CONFIG}
SYNC_SSL=false
SYNC_INSTANCE_ID=sync-local
SYNC_PGDATABASE=${POSTGRES_DB}
SYNC_PGUSER=${POSTGRES_USER}
SYNC_PGPASSWORD=${POSTGRES_PASSWORD}
SYNC_PGHOST=postgres
SYNC_PGPORT=${POSTGRES_PORT}
SYNC_MINIMUM_BLOCK=latest
SYNC_SYNC_FROM_MIN_BLOCK=false
SYNC_DISABLE_SLACK_LOG=true
SYNC_ALCHEMY_URL=${ALCHEMY_URL}
SYNC_HARDHAT_NETWORK=${HARDHAT_NETWORK}
